{% extends "books/base.html" %}

{% block pageheader %}
    {% if request.user.is_authenticated %} 
        <a href="{% url books.highlight.create %}" class="btn btn-primary btn-small pull-right add-highlight"><i class="icon-plus icon-white"></i> Add Highlight</a>
    {% endif %}
            <form action="{% url books.highlight.search %}" method="get" class="pull-right" >
                <div class="input-append">
                    <input type="text" name="q" class="input-medium">
                    <input type="submit" class="btn" value="Search">
                </div>
            </form>
    <h3>Highlights from classic literature</h3>
{% endblock %}

{% block content %}
    {% if object_list %}
        <div id="box-container">
            {% for passage in object_list %}
                {% include "books/passage_detail.html" %}
            {% endfor %}
        </div>
        <div class="pagination pagination-small pagination-centered" style="margin-top: 10px; margin-bottom: 20px;">
            <ul>
                {% if object_list.has_previous %}
                    <li><a href="?q={{ query }}&amp;page={{ object_list.previous_page_number }}">{{ "<<" }}</a></li>
                {% endif %}
                {% for i in object_list.paginator.page_range %}
                    {% if i < 20 %}
                    {% if object_list.number == i %}
                        <li class="active"><a href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                        <li><a href="?q={{query}}&amp;page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% if object_list.has_next %}
                    <li><a href="?q={{query}}&amp;page={{ object_list.next_page_number }}">{{ ">>" }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <p>No passages found.</p>
    {% endif %}
{% endblock %}
